PORT=3000

# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=pasarpintar
DB_PASSWORD=change_me
DB_PORT=5432

# Authentication
JWT_SECRET=change_me_with_long_random_secret

# Midtrans
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=change_me
MIDTRANS_CLIENT_KEY=change_me
